<% content_for :title do %>Jira board<% end %>
<h1>Core ADU</h1>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="analysis" data-view="Number" data-title="Analysis" style="background-color:#bf39af;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ready" data-view="Number" data-title="Ready for Development"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="in_progress" data-view="Number" data-title="Development in progress" style="background-color:#bf6c2c;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="code_review" data-view="Number" data-title="Ready for code review" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rework" data-view="Number" data-title="Rework" style="background-color:#babf2f;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="merged" data-view="Number" data-title="Merged" style="background-color:#BF3930;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="deployed" data-view="Number" data-title="Deployed" style="background-color:#babf2f;"></div>
    </li>
  </ul>
</div>
